@import './reset.scss';

@import 'variables/index.scss';
@import 'utils/index.scss';

@import 'components/index.scss';

/* To-do: mover para diretórios corretos */
main {
    margin-top: 55px;

    .main-title {
        padding: 60px 0;

        h1, h2, h3 {
            font-size: 48px;
            font-weight: 300;
            text-align: center;
        }
    }

    .main-text {
        margin: 0 auto;
        max-width: 75vw;

        p {
            color: #393c40;
            font-size: 20px;
            line-height: 1.5;
            text-align: justify;

            &:not(:last-child) {
                margin-bottom: $spacing-4;
            }
        }
    }
    
    .parallax-personagens {
        @include parallax('https://i.imgur.com/qs8raPi.jpg', 400px);
    }

    .content {
        max-width: 90%;
        margin: 0 auto;
    }
}

.float-left {
    float: left;
}

p {
    font-size: 20px;
}

.sticker {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    height: 300px;
    overflow-y: auto;
}

a{
    cursor: pointer;
}

#imgGithub:hover {
    content: url(https://i.imgur.com/TThfY62.png);
}

#imgLinkedin:hover {
    content: url(https://i.imgur.com/UWWamys.png);
}