@mixin parallax($url, $minHeight) {
    background-image: url($url);
    min-height: $minHeight;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
}